<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal update-comment-form" id="comment" method="post" action="{{ path('forum_comment_edit', { 'comment': entity.id }) }}" novalidate="">
            <div class="form-group ">
                {{ form_label(form.comment) }}
                <div class="col-xs-12">
                    {{ form_widget(form.comment) }}
                    <small class="help-block alert-danger">{{ form_errors(form.comment) }}</small>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>
</div>

