{% extends 'base.html.twig' %}
{% block body %} <h1>Acceuil</h1>
    </br>
    <div class="wel-grids">
        <div class="col-md-3 wel-grid">
            <a href="{{ path('front_office_patisserie_recette', { id: recettes[0].id }) }}">
                <img src="{{ asset('Patisserie/images/roulet.jpg') }}" class="img-responsive gray" alt=""/>
                <h4>Roulet</h4>
            </a>
            <p>Amusez vous avec nous et profiter du bon gout!!</p>
        </div>
        <div class="col-md-3 wel-grid">
            <a href="{{ path('front_office_patisserie_recette', { id: recettes[1].id }) }}">
                <img src="{{ asset('Patisserie/images/ka3k.jpg') }}" class="img-responsive gray" alt=""/>
                <h4>Spécialité tunisienne !!</h4>
            </a>
            <p>On vous attend allez!!!</p>
        </div>

        <div class="col-md-3 wel-grid">
            <a href="{{ path('front_office_patisserie_recette', { id: recettes[2].id }) }}">
                <img src="{{ asset('Patisserie/images/cheesecake.jpg') }}" class="img-responsive gray" alt=""/>
                <h4>Cheesecake </h4>
            </a>
            <p>Waaaaw un vrai régal</p>
        </div>
        {#
        <div class="col-md-3 wel-grid">
            <a href="{{ path('front_office_patisserie_recette', { id: recettes[3].id }) }}">
                <img src="{{ asset('Patisserie/images/baklawa.jpg') }}" class="img-responsive gray" alt=""/>
                <h4>Baklawa yammy </h4>
            </a>
            <p>Vos reves commencent à se réaliser ...révee !!!</p>
        </div> #}
        <div class="clearfix"></div>
    </div></p>
    </div>

{% endblock %}