<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Blue Water a Hotel Category Flat Bootstrap Responsive Web Template| Home :: w3layouts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Blue Water Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="{{ asset('voyageur/js/jquery-1.11.0.min.js') }}"></script>
        <script src="{{ asset('voyageur/auther-js/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('voyageur/auther-js/bootbox.min.js') }}"></script>
        <link href="{{ asset('voyageur/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset('voyageur/css/style.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset('voyageur/css/style_1.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset('voyageur/css/foundation.css') }}" rel='stylesheet' type='text/css' />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="{{ asset('voyageur/auther-js/comment.js') }}"></script>
        <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
        <!---- start-smoth-scrolling---->
        <script type="text/javascript" src="{{ asset('voyageur/js/move-top.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                });
            });
        </script>
        <!--start-smoth-scrolling-->
        <script src="{{ asset('https://code.jquery.com/jquery-1.12.4.js') }}"></script>
        <script src="{{ asset('https://code.jquery.com/ui/1.12.1/jquery-ui.js') }}"></script>
        <script>
            $(function () {
                $("#datepicker-start").datepicker();
                $("#datepicker-end").datepicker();
            });
        </script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js') }}"></script>
    </head>
    <body>
        <!--start-banner-->
        <div class="banner" id="home">
            <div class="container">
                <div class="header">
                    <div class="menu">
                        <a class="toggleMenu" href="#"><img src="{{ asset('voyageur/images/menu-icon.png') }}" alt="" /> </a>
                        <ul class="nav" id="nav">
                            <li class="active"><a href="interface_Voyageur" class="active">Home</a></li>
                            <li><a href="annonces.html">Annonces</a></li>
                            <li><a href="mon_compte.html">Réservation</a></li>
                            <li><a href="mon_compte.html">Mon Compte</a></li>
                            <li><a href="{{ path('Acceuil_Forum') }}">Forum</a></li>
                            <li><a href="reclamation.html">Reclamation</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                        <!----start-top-nav-script---->
                        <script type="text/javascript" src="{{ asset('voyageur/js/responsive-nav.js') }}"></script>
                        <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                        event.preventDefault();
                        $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                    });
                });
                        </script>
                        <!----//End-top-nav-script---->
                    </div>


                    <div class="clearfix"> </div>
                </div>
                <div class="banner-bottom">
                    <a href="index.html"><img src="{{ asset('voyageur/images/logo-1.png') }}" alt=""></a>
                    <h1>Guest <span> House</span></h1>
                </div>

                <!--/start-text-slider-->

                <!--//text-slider-->
            </div>
        </div>
        <br>
        <br>

    </div>





    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!--End-pop-up-box-->
    <!--end-login-->
    <!--end-banner-->
    <!--start-grid-->

    <div class="special">

        <div class="booking">
            <div class="container">
                <div class="booking-main">
                    <h3><a>Forum</a></h3>

                {% block content %}{% endblock content %}

            </div>
        </div>
    </div>
</div>
<!--end-grid-->

<!--start-footer-->
<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="col-md-5 footer-left">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#"><span class="twt"> </span></a></li>
                    <li><a href="#"><span class="fb"> </span></a></li>
                    <li><a href="#"><span class="p"> </span></a></li>
                    <li><a href="#"><span class="yt"> </span></a></li>
                    <li><a href="#"><span class="in"> </span></a></li>
                </ul>
                <h4>Address</h4>
                <h5>Tunis Ariana Pole Techlonogique.</h5>
                <p>Mail Us On <a href="mailto:info@example.com"> GuestHous1617@gmail.com</a></p>
                <p>Call Us On  +71 100 200</p>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="footer-text">
            <p>DESIGN BY <a href="http://DevWay.com/"> DevWay Team</a></p>
        </div>
    </div>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!--end-footer-->
</body>
</html>