<header id="#top">
  <div class="row">
    <div class="large-4 column lpad">
      <div class="logo">
          <span style="text-transform: capitalize;">Guest</span>
        <span style="text-transform: capitalize;">House</span>
      </div>
    </div>
    <div class="large-8 column ar lpad">
      <nav class="menu">
        <a href="{{ path('app_forum') }}" class="current">Forum</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user') }}">Membres</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('subject_new') }}">Nouveau Poste</a>
        {% endif %}
        {#<a href="#">Forum Actions</a>#}
{#        <a href="#">Calendar</a>#}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('fos_user_profile_show') }}">Mon Profil</a>
        {% endif %}
        {#<a href="#">FAQ</a>#}
        <a href="{{ path('app_forum_contact') }}">Contact</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">S'identifier</a>
        {% endif %}
      </nav>
    </div>
  </div>
</header>



