{% extends '@Annuaire/patissier.html.twig' %}
{% block body %}
    <link href="{{ asset('styles/style.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('Evenement/css/evenement.css') }}" rel='stylesheet' type='text/css' />

        <center><p><i><h1> Voici la liste</h1></i></p>
            <p ><i> <h1>♥ de tous les Evenements ♥ </h1> </i></p></center>

    <div class="recherche">
        <form action="{{ path('even_recherche_pat') }}" style="float: right">
            <input type="text" placeholder="Nom de l'évènement" id="search" name="nomE">
            <input type="submit" value="" id="searchbtn">
        </form>
    </div>




    <div class="w3ls-banner jarallax">
    <div class="w3lsbanner-info">
    <!-- header -->

    <div class="pull-left">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{{ path('evenement_trier')}}" class="bouton5" >Filtre Events </a>

        <a href="{{ path('affiche_participation')}}" class="bouton5">Les Intéressés</a>

        <a href="{{ path('affiche_mes_evenements')}}" class="bouton5">Mes Events</a>

        <a href="{{ path('evenement_ajout')}}" class="bouton5">Ajout Events</a></div>

<br>
    <br>
    <br>
    <div class="focus">
        <br> <br> <br> <br> <br>

    <div class="container">

        <table  class="table table-hover">
            <thead>
            <tr>
                <td bgcolor="#dcdcdc" style="color: white ;font-size: larger" align="center" > Id</td>
                <td bgcolor="#dcdcdc" style="color: white ;font-size: larger" align="center" > Nom</td>
                <td bgcolor="#dcdcdc" style="color: white;font-size:larger" align="center"> Description</td>
                <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Adresse</td>
                <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Type</td>
                <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Date</td>
                <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Image</td>




            </tr>
            </thead>

            <tbody>
            {% for even in evenements %}
                <tr>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{  even.idE }}</td>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{  even.nomE|raw }}</td>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.descriptionE}}</td>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.adresseE }}</td>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.typeE}}</td>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.dateE|date('d-M-Y')}}</td>
                    <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> <img src="{{ asset('Evenement/image/' ~ even.imageE) }}"></td>
                    


                </tr>



            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


<center>
    <div class="navigation">
        {{ knp_pagination_render(evenements) }}
    </div>
</center>


{% endblock %}