{% extends '@Annuaire/patissier.html.twig' %}
{% block body %}
    <link href="{{ asset('styles/style.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('Evenement/css/evenement.css') }}" rel='stylesheet' type='text/css' />
    <h1></h1></br>
    <p><i><h1> ♥ Modifier Evénement ♥</h1></i></p>
    <br>

    <div class="recherche">
        <form action="{{ path('even_recherche') }}" style="float: right">
            <input type="text" placeholder="Nom de l'évènement" id="search" name="nomE">
            <input type="submit" value="" id="searchbtn">
        </form>
    </div>


    <link href="{{ asset('styles/style.css') }}" rel='stylesheet' type='text/css' />

    <div class="w3ls-banner jarallax">
    <div class="w3lsbanner-info">
        <!-- header -->

        <div class="pull-left">

            <br>

            <a href="{{ path('evenement_rechercher')}}" class="bouton5" >Filtre Evénement</a><br/>
            <br>
            <br>
            <a href="{{ path('evenement_ajout')}}" class="bouton5">Ajout Evénement</a><br/>
            <br>
            <br>
            <a href="{{ path('even_evenement')}}" class="bouton5">Liste Evénement</a></div>
        {{ form_start(form) }}
        <center>
            <fieldset style="width: 50%">

                Nom évènement :* {{ form_widget(form.nom_E) }}</br>
                Description évènement: {{ form_widget(form.description_E)  }}</br>
                Adresse évènement:* {{ form_widget(form.adresse_E)  }}</br>
                Type évènement: {{ form_widget(form.type_E) }}</br>
                Date évènement: {{ form_widget(form.date_E)}}</br>
                Image évènement:{{ form_widget(form.image_E) }}</br>
                Interesses évènement:{{ form_widget(form.interesses) }}</br>
                Capacite évènement:{{ form_widget(form.capacite) }}</br>


            </fieldset></center>
        <div  align="center">
            <div class="col-sm-8">
                <input type=submit class="button--nina" style="color: #C0C0C0 " value="Modifier" onclick="return confirm('Voulez vous vraiment modifier cette événement?')">

            </div>

            {{ form_end(form) }}

            <div class="clearfix"> </div>
        </div>
    </div>




{% endblock %}