{% extends 'base.html.twig' %}
{% block body %} </br>
<link href="{{ asset('styles/style.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ asset('Evenement/css/evenement.css') }}" rel='stylesheet' type='text/css' />

<center>{{ form(form) }}</center>
<br>
<div class="pull-left">
    <br>

    <br>
    <br>
    <br>
    <a href="{{ path('retour_filtre_clt')}}" class="bouton5" >Accueil Events</a><br/></div>

    <br>
    <div class="focus">
        <div class="container">

            <table  class="table table-hover">
                <thead>
                <tr>
                    <td bgcolor="#dcdcdc" style="color: white ;font-size: larger" align="center" > Id</td>
                    <td bgcolor="#dcdcdc" style="color: white ;font-size: larger" align="center" > Nom</td>
                    <td bgcolor="#dcdcdc" style="color: white;font-size:larger" align="center"> Description</td>
                    <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Adresse</td>
                    <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Type</td>
                    <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Date</td>
                    <td bgcolor="#dcdcdc" style="color: white;font-size: larger" align="center"> Image</td>
                    <td></td>
                    <td></td>



                </tr>
                </thead>

                <tbody>
                {% for even in evenements %}
                    <tr>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{  even.idE }}</td>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{  even.nomE|raw }}</td>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.descriptionE}}</td>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.adresseE }}</td>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.typeE}}</td>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.dateE|date('d-M-Y')}}</td>
                        <td bgcolor="ffe4c4" style="font-size: large ;color:black" align="center"> {{ even.imageE}}</td>
                        {% if even.getInteresses() < even.getCapacite()  %}
                            <td bgcolor="white" style="font-size: large ;color:-webkit-focus-ring-color" align="center"> <a href="{{ path('evenement_participe',{'idE':even.idE}) }}">Participer</a> </td>
                            <td bgcolor="white" style="font-size: large ;color:-webkit-focus-ring-color" align="center"> <a href="{{ path('evenement_annule',{'idE':even.idE}) }}">Annuler</a> </td>

                        {% else %}
                            <td bgcolor="white" style="font-size: large ;color:-webkit-focus-ring-color" align="center"> <a href="{{ path('evenement_annule',{'idE':even.idE}) }}">Annuler</a> </td>

                        {% endif %}
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>





    {% endblock %}



