{% extends '@Annuaire/patissier.html.twig' %}
{% block body %}

    <h1> Détails de la patisserie {{patisserie.nom}} </h1>
    <p>Voulez vous <a href="{{ path('patisserie_modifier',{'id':patisserie.idp}) }}">modifier ou supprimer</a> la patisserie?</p>
    <div>
    <ul>
        <li>
                {% if patisserie.getUrl==null %}
                    <img src="{{ asset('Images/default.jpg') }}" width="340" height="243" alt="Image">
                {% else %}
                    <img src="{{ asset('Images/' ~ patisserie.url) }}" width="340" height="243" alt="Image">
                {% endif %}
        </li>
        <li>Adresse: {{ patisserie.adresse }}</li>
        <li>Contact: {{ patisserie.contact }}</li>
        <li>Mail: {{ patisserie.mail }}</li>
        {% if patisserie.reservation %}
        <li>Nombre de places: {{ patisserie.place }}</li>
        {% endif %}
        {#<li>Rating: {{ patisserie.rating|rating }}</li>#}
    </ul>
    </div>

    {{ ivory_google_map(map) }}
    {{ ivory_google_api([map]) }}
    <a href="{{ path('patisserie_homepage') }}">Retour</a>


{% endblock %}