{% extends '@Annuaire/patissier.html.twig' %}
{% block body %}
    <h1><center> Liste des Patisseries de l'annuaire </center> </h1>

    <table border="2" style="align-content: center">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Contact</th>
            <th>Mail</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for patisserie in patisseries %}
            <tr>
                <td><img src="{{ asset("Images/" ~ patisserie.getUrl()) }}" alt="Photo" style="height: 70px;width: 70px" /></td>
                <td><a href="{{ path('patisserie_detail', { 'id': patisserie.idp }) }}">{{ patisserie.nom }}</a></td>
                <td>{{ patisserie.adresse }}</td>
                <td>{{ patisserie.contact }}</td>
                <td>{{ patisserie.mail }}</td>
                <td>{{ patisserie.rating }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
